*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0f0f0f;
  color:#f8f4ed;
  overflow-x:hidden;
}

/* NAVBAR */
.navbar{
  position:fixed;
  width:100%;
  top:0;
  left:0;
  padding:22px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  backdrop-filter:blur(20px);
  background:rgba(15,15,15,0.7);
  z-index:1000;
}

.logo{
  font-family:'Cinzel',serif;
  font-size:1.8rem;
  color:#d4af37;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:35px;
}

.nav-links a{
  color:#f8f4ed;
  text-decoration:none;
}

.book-btn{
  text-decoration:none;
  padding:12px 24px;
  border-radius:30px;
  background:#d4af37;
  color:#111;
  font-weight:600;
}

/* HERO */
.hero{
  min-height:100vh;
  padding:120px 8%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
}

.hero-left{
  flex:1;
}

.tag{
  color:#d4af37;
  margin-bottom:20px;
}

.hero h1{
  font-family:'Cinzel',serif;
  font-size:4rem;
  line-height:1.2;
}

.hero-text{
  margin-top:25px;
  color:#cfcfcf;
  max-width:550px;
}

.hero-buttons{
  margin-top:35px;
}

.btn{
  display:inline-block;
  text-decoration:none;
  padding:14px 28px;
  border-radius:35px;
  margin-right:15px;
}

.gold{
  background:#d4af37;
  color:#111;
}

.outline{
  border:1px solid #d4af37;
  color:#d4af37;
}

/* RIGHT SIDE */
.hero-right{
  flex:1;
  position:relative;
  height:450px;
}

.floating-card{
  position:absolute;
  padding:25px;
  border-radius:20px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(20px);
  border:1px solid rgba(212,175,55,0.2);
}

.card1{
  top:40px;
  left:80px;
}

.card2{
  top:180px;
  right:80px;
}

.card3{
  bottom:40px;
  left:160px;
}
